<!DOCTYPE html>
<!--[if IE 8]><html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js"><![endif]-->
<!--[if IE 9]><html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  {% seo %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <link rel="preload" href="{{ '/assets/toolkit/IWT.min.js' | relative_url }}" as="script">

  <script type="text/javascript">
    WebFontConfig = {
      google: {
        families: ['Titillium+Web:400,600,700,400italic:latin']
      }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

  <!-- include html5shim per Explorer 8 -->
  <script src="{{ '/assets/toolkit/vendor/modernizr.js' | relative_url }}"></script>

  <link media="all" rel="stylesheet" href="{{ '/assets/toolkit/vendor.css' | relative_url }}">
  <link media="all" rel="stylesheet" href="{{ '/assets/toolkit/build.css' | relative_url }}">

  <script src="{{ '/assets/toolkit/vendor/jquery.min.js' | relative_url }}"></script>

</head>
<body class="{{ site.css_theme }}">
