{% assign items = include.items  %}

{% if include._internal %}
  <ul>
{% else %}
  <ul class="Linklist Linklist--padded u-layout-prose u-text-r-xs">
{% endif %}

  {% assign navurl = page.url | remove: 'index.html' %}
  {% for item in items %}
  	<li>
  		<a href="{{ item.url }}" {% if item.url == navurl %}class="u-textWeight-700"{% endif %}>
				{{ item.text }}
  		</a>
      {% if item.subitems %}
    		{% include linklist.html items=item.subitems _internal=true %}
    	{% endif %}
  	</li>
  {% endfor %}

</ul>
