<ul class="Linklist Linklist--padded Treeview Treeview--default js-fr-treeview u-text-r-xs">
  <li><a href="#">xxx</a>
    <ul>
      <li><a href="#">xxx</a></li>
      <li><a href="#">xxx</a></li>
      <li><a href="#">xxx</a>
        <ul>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a>
            <ul>
              <li><a href="#">xxx</a></li>
              <li><a href="#">xxx</a></li>
              <li><a href="#">xxx</a></li>
            </ul>
          </li>
          <li><a href="#">xxx</a></li>
        </ul>
      </li>
      <li><a href="#">xxx</a></li>
      <li><a href="#">xxx</a></li>
    </ul>
  </li>
  <li><a href="#">xxx</a>
    <ul>
      <li><a href="#">xxx</a></li>
      <li><a href="#">xxx</a></li>
      <li><a href="#">xxx</a>
        <ul>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
        </ul>
      </li>
      <li><a href="#">xxx</a></li>
      <li><a href="#">xxx</a>
        <ul>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
          <li><a href="#">xxx</a></li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
